.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;

  color: var(--color-white);
  background-color: var(--cta-color);
  box-shadow: var(--shadow-dark);
  border-radius: 0.3rem;
  width: 95%;
  max-width: 250px;

  padding: 1.4rem;
  text-align: center;

  cursor: pointer;
  transition: 0.6s;
}

.btn--white,
.btn--white:link,
.btn--white:visited {
  background-color: transparent;
  border: 3px solid var(--color-white);
}

.btn--routs {
  margin-bottom: 3rem;
}

.btn:hover {
  box-shadow: none;
}

.btn:active {
  background-color: rgb(160, 59, 0);
}

.btn--white:active {
  background-color: #003546;
}

.btn--form {
  border: none;
  max-width: 30rem;
}
