.form {
  max-width: 600px;
  margin-top: 6rem;
}

.form__text {
  font-size: 1.8rem;
  color: var(--color-white);
}

.form__input {
  padding: 1.2rem 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  border-style: none;
  border-radius: 5px;
  font-size: 1.6rem;
  opacity: 0.75;
}

.form__input::placeholder {
  color: var(--dark-grey-colour);
}

.form__input:focus,
.form__textarea:focus {
  outline: 2px solid var(--cta-color);
}

.form__textarea {
  height: 200px;
  font-family: "Roboto", sans-serif;
}

.form__error {
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: red;
  border-radius: 5px;

  padding: 1rem;
  margin-bottom: 1.5rem;

  display: none;
}

.form__submit-message {
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: green;
  border-radius: 5px;

  padding: 1rem;
  margin-top: 3.5rem;

  display: none;
}
