:root {
  --font-primary: "Josefin Sans", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --font-tertiary: "Nixie One", cursive;

  --color-primary: #004459;
  --color-secondary: #016587;
  --color-tertiary: #2496b8;

  --color-dark: #111111;
  --color-light: #ecebe7;
  --color-white: #f1f1f1;

  --cta-color: rgb(243, 89, 0);

  --shadow-dark: -0.6rem 0.6rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  --shadow-text: -1rem 1rem 2rem rgba(0, 0, 0, 1);
}
